#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=vision
Exec=/usr/local/revere/vision
Comment=A video viewing application for Revere
Icon=/usr/local/revere/V.png
Terminal=false
Categories=Utility;GTK;
