#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=revere
Exec=revere
Comment=blah
Icon=${SNAP}/meta/gui/R.png
Terminal=false
Categories=Utility;GTK;

